<footer>
  <small>
    Ce site est maintenu régulièrement par <a href="{{ pkg.author.url }}">Emmanuel rondeau</a>.
    Dernière construction : {{ build.date }} with {{ eleventy.generator }}
    <br>
    <a href="/admin/">Login</a>
  </small>
</footer>
